@model TravelApp.Platform.Models.AllLocationInformation
@{
    ViewData["Title"] = Model.Location.Title;
}
<div class="img-container my-5">
    <img class="city-main-img" src="@Model.Location.PictureLink" alt="@Model.Location.Title" />
    <div class="mx-5">
        <h2 class="kiwi-maru-regular text-center my-5">Немного из истории</h2>
        <p>
            @Model.Location.Description
        </p>
        <h2 class="kiwi-maru-regular text-center my-5">Время работы</h2>
        <p>
            @Model.Location.WorkSchedule<br>
        </p>
        <p><b>Адрес: @Model.Location.Address</b></p>
        <div class="btn-container">
            @if (Model.Location.TicketLink == "")
            {
                <b class="btn btn-2">Вход свободный</b>
            }
            else
            {
                <a href="@Model.Location.TicketLink" class="btn btn-2">Купить билет</a>
            }
        </div>
    </div>
</div>
<div class="items py-5 text-center">
    <div class="item-center">
        <h2 class="kiwi-maru-regular text-center">
            Фотографии
        </h2>
    </div>
    @foreach(var photo in Model.Gallery)
    {
        <div class="item-foto-n-h">
            <img src="@photo.PictureLink" alt="@photo.Title">
        </div>
    }
</div>

<div class="img-container mb-5">
    <div class="mx-5">
        <h2 class="kiwi-maru-regular text-center my-5">Поделитесь мнением</h2>
    </div>
</div>