@model TravelApp.Platform.Models.AllLocationInformation
@{
    ViewData["Title"] = Model.Location.Title;
}
<div class="img-container my-5">
    <img class="city-main-img" src="@Model.Location.PictureLink" alt="@Model.Location.Title" />
    <div class="mx-5">
        <h2 class="kiwi-maru-regular text-center my-5">Немного из истории</h2>
        <p>
            @Model.Location.Description
        </p>
        <h2 class="kiwi-maru-regular text-center my-5">Время работы</h2>
        <p>
            @Model.Location.WorkSchedule<br>
        </p>
        <p><b>Адрес: @Model.Location.Address</b></p>
        <div class="btn-container">
            @if (Model.Location.TicketLink == "")
            {
                <b class="btn btn-2">Вход свободный</b>
            }
            else
            {
                <a href="@Model.Location.TicketLink" class="btn btn-2">Купить билет</a>
            }
        </div>
    </div>
</div>
<div class="items py-5 text-center">
    <div class="item-center">
        <h2 class="kiwi-maru-regular text-center">
            Фотографии
        </h2>
    </div>
    @foreach(var photo in Model.Gallery)
    {
        <div class="item-foto-n-h">
            <img src="@photo.PictureLink" alt="@photo.Title">
        </div>
    }
</div>

<div class="img-container mb-5">
    <div class="mx-5">
        <h2 class="kiwi-maru-regular text-center my-5">Поделитесь мнением</h2>
        <form method="post" class="form-reviews" asp-controller="location" asp-action="AddReview"> 
            <div class="form-group">
                <input type="hidden" name="pageName" value="@Model.Location.PageName" />
                <input type="hidden" name="IdLocation" value="@Model.Location.Id" />
                <br />
                <label>Представьтесь!</label>
                <br />
                <input class="mb-2" name="NameSender" value="@ViewData["FIO"]" type="text" @(string.IsNullOrEmpty(ViewData["FIO"]?.ToString()) ? "" : "readonly") />
                <textarea class="form-control" placeholder="Ваш отзыв" name="Text"></textarea>
                <div class="stars">
                    <div class="star-group">
                        <input type="radio" class="star" id="one" value="1" name="Ball"  />
                        <input type="radio" class="star" id="two" value="2" name="Ball" />
                        <input type="radio" class="star" id="three" value="3" name="Ball"/>
                        <input type="radio" class="star" id="four" value="4" name="Ball"/>
                        <input type="radio" class="star" id="five" value="5" name="Ball" checked />
                    </div>
                </div>
                <button type="submit" class="btn-container btn btn-2">Отправить</button>
            </div>
        </form>
    </div>
    <div>
        <h2 class="kiwi-maru-regular text-center my-5">Отзывы</h2>
        <table class="table table-info">

            <tbody>
                @foreach (var feedback in Model.Feedbacks)
                {
                    <tr>
                        <td>@feedback.SenderName</td>
                        <td>@feedback.DateOfPublication.ToShortDateString()</td>
                        <td>@feedback.Text</td>
                        <td>@feedback.Ball</td>
                    </tr>
                }
            </tbody>
            <caption>>:^) Всего: @Model.Feedbacks.Count()</caption>
        </table>
    </div>
</div>