@model IEnumerable<TravelApp.API.Models.City>

<h2>Города</h2>

<a asp-area="Admin" asp-controller="City" asp-action="Create" class="btn btn-success mb-3">Добавить город</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Изображение (Основное)</th>
            <th>Изображение (Дополнительное)</th>
            <th>Название страницы</th>
            <th>Отображать</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model)
        {
            <tr>
                <td>@city.Id</td>
                <td>@city.Title</td>
                @{
                    string plainText = System.Text.RegularExpressions.Regex.Replace(city.Description ?? "", "<.*?>", string.Empty);
                    string shortText = plainText.Length > 20 ? plainText.Substring(0, 17) + " ..." : plainText;
                }
                <td>@shortText</td>

                <td>@city.PictureAtHomeLink</td>
                <td>@city.MainPictureLink</td>
                <td>@city.PageName</td>
                <td>@(city.PageVisible ? "Да" : "Нет")</td>
                <td>
                    <a asp-area="Admin" asp-controller="City" asp-action="Edit" asp-route-id="@city.Id" class="btn btn-primary btn-sm">Редактировать</a>
                    <form asp-area="Admin" asp-action="Delete" method="post" style="display:inline;" onsubmit="return confirm('Удалить город?');">
                        <input type="hidden" name="id" value="@city.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <caption>>:^) Всего: @Model.Count()</caption>
</table>
